<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            {{project.currentVersion}}
        </span>
        <span class="example-spacer-1"></span>
        <span>
        
        </span>
        <span class="example-spacer-1"></span>
        <span>
            {{project.footerTradeMark}}
        </span>
        

        <!-- <mat-icon class="example-icon" aria-hidden="false"
            aria-label="Example user verified icon">verified_user</mat-icon> -->
            
    </mat-toolbar-row>
</mat-toolbar>