<!-- Toolbar -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
          <button mat-button color="secondary">Sundrop Attorneys</button> 
        </span>
        <span class="example-spacer-1"></span>
        <span><button mat-button color="secondary">Attorney Profiles</button></span>
        <span class="example-spacer-1"></span>
        <span><button mat-button color="secondary">Services</button></span>
        <span class="example-spacer-1"></span>
        <span><button mat-button color="secondary">Contact Us</button></span>

        <!-- <mat-icon class="example-icon" aria-hidden="false"
            aria-label="Example user verified icon">verified_user</mat-icon> -->
            
    </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar mode="determinate" value="{{project.value}}"></mat-progress-bar>

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer-2"> </span>
        <span class="example-spacer-2"> CONTACT US +1 3464528778 
        </span>
        <span class="example-spacer-2">  MON - THU: 9AM - 5PM  FRI - SUN: CLOSED
        </span>
       
    </mat-toolbar-row>
   
</mat-toolbar>

<!-- <mat-toolbar-row>
        <span>
            <button mat-button color="secondary" src="C:\Users\rakri\Documents\Legal-Assistance\src\assets\bookcase.jpg">Primary</button>
        </span>
        <span class="example-spacer-3"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row> -->

<mat-card>
    <img mat-card-image src="{{project.image}}">
    <!-- <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Sta5rt</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>

<!-- <mat-divider></mat-divider> -->

<!-- <mat-card>
     <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Sta5rt</mat-card-subtitle>
    </mat-card-header> 

   <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->

<!-- <mat-card class="example-card">

    <mat-card-header>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-title>Shiba Inu</mat-card-title> 
    </mat-card-header>
   
      <mat-card-actions>5
      <button mat-button>LIKE</button> <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <p>{{ longText }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
      <button mat-button>SHARE</button>
    </mat-card-actions> 
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card> -->

